/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
/* not implemented - Calculate contrast text colors for maximum visibility  */
/* ---------------------------------------- Deprecating Help -------------------------------------------------------------- */
.primary-text, .primary-text > a, .primary-text > span > a {
  color: hotpink; }

.secondary-text, .secondary-text > a, .secondary-text > span > a {
  color: hotpink; }

.tertiary-text, .tertiary-text > a, .tertiary-text > span > a {
  color: hotpink; }

.primary-inverse-text, .primary-inverse-text > a, .primary-inverse-text > span > a {
  color: hotpink; }

.secondary-inverse-text, .secondary-inverse-text > a, .secondary-inverse-text > span > a {
  color: hotpink; }

.tertiary-inverse-text, .tertiary-inverse-text > a, .tertiary-inverse-text > span > a {
  color: hotpink; }

.tertiary-divider {
  color: hotpink; }

.secondary-divider {
  color: hotpink; }

.primary-divider {
  color: hotpink; }

.mute-grey p, .mute-grey ul.bullet-list, .mute-grey ul.no-bullet-list {
  color: hotpink; }

/* ? */
.mute-grey a {
  color: hotpink; }

.mute-call-out p {
  color: hotpink; }

.mute-call-out a {
  color: hotpink; }

/* Headings */
.mute-grey {
  background: hotpink; }

/* ? */
.mute-grey h1,
.mute-grey h2,
.mute-grey h3,
.mute-grey h4,
.mute-grey h5 {
  color: hotpink; }

.dropdown-content2 li.active, .dropdown-content2 li.selected {
  background-color: hotpink; }

/* nav.small .nav-wrapper li.phone a { color: $error; color:#fff;  } */
/* .nav-wrapper li.phone a:hover, .modal-close:hover { color: $error; } */
/* These should never override a real selector: */
.primary-background .text-primary {
  color: hotpink; }

.secondary-background .text-secondary {
  color: hotpink; }

.tertiary-background .text-tertiary {
  color: hotpink; }

.mute-call-out a {
  color: hotpink; }

.mute-call-out {
  background: hotpink; }

.mute-call-out:after {
  border-color: hotpink transparent; }

.mute-call-out p {
  color: hotpink; }

.mute-call-out a {
  color: hotpink; }

/* Text designed to 'pop' on a standard background color */
.text-primary-contrast, .text-primary-contrast > a {
  color: hotpink !important; }

.text-secondary-contrast, .text-secondary-contrast > a {
  color: hotpink !important; }

.text-tertiary-contrast, .text-tertiary-contrast > a {
  color: hotpink !important; }

/* Testing:
html { background: $error !Important; }
.text-primary, a.text-primary { color: $error !important; }
.text-secondary, a.text-secondary { color: $error !important;  }
.text-tertiary, a.text-tertiary { color: $error !important;  }
*/
/* We don't want to see any of these classes after the global change: */
.background-primary,
.primary-background,
.primary-compliment-background,
.primary-btn,
.secondary-background,
.background-secondary,
.secondary-compliment-background,
.secondary-btn,
.tertiary-background,
.background-tertiary,
.tertiary-btn,
.background-tertiary,
.tertiary-compliment-background,
.mute-background,
.background-mute,
.mute-compliment-background,
.mute-btn,
.white-background,
.white-compliment-background,
.transparent-btn,
.primary-background-text, .secondary-background-text, .tertiary-background-text, .white-background-text, .mute-background-text {
  color: hotpink; }

/* Safe to ignore - preserving old classes and color attempts with an error color */
/* ---------------------------------------- Setup 'LightBlue-White-Navy' (was midtone-01) --------------------------------------------- */
/* Individual Color Palettes */
/* ----------------------------------- Implementation ------------------------------------------------------------ */
/* ----------------- Background Colors and an associated default text color ----------------------*/
.bg-primary, .bg-primary .text-default {
  background: #569da2;
  color: #FFF; }

.bg-primary-complement, .bg-primary-complement .text-default {
  background: #96c4c8;
  color: #FFF; }

/* complement has a slightly different shade */
.btn-primary, .btn-primary > a, .btn-primary > span > a {
  background: #569da2;
  color: #FFF; }

.bg-primary .text-contrast, .bg-primary .divider-dotted {
  color: #FFF; }

/* Headings aand .text-contrast are defined in relation to a background */
.bg-mute {
  background: #f7f7f7;
  color: black; }

.bg-mute-complement {
  background: #eaeaea;
  color: black; }

/* complement has a slightly different shade */
.btn-mute:not(.active) {
  background: #f7f7f7;
  color: black; }

/* Not sure this is used anywhere */
.bg-mute .text-contrast, .bg-mute .divider-dotted {
  color: #000000; }

/* Headings aand .text-contrast are defined in relation to a background */
.bg-secondary {
  background: #e2dad2;
  color: black;
  border-color: #e2dad2; }

/* Also .call-out */
.bg-secondary-compliment {
  background: #8d745b;
  color: black; }

.btn-secondary, .btn-secondary > a, .btn-secondary > span > a {
  background: #e2dad2;
  color: black; }

.bg-secondary .text-contrast, .bg-secondary .divider-dotted {
  color: #000; }

/* Headings aand .text-contrast are defined in relation to a background */
.bg-tertiary {
  background: #355d77;
  color: white;
  border-color: hotpink; }

.bg-tertiary-complement {
  background: #497590;
  color: white;
  border-color: hotpink; }

.btn-tertiary, .btn-tertiary > a, .btn-tertiary > span > a {
  background: #355d77;
  color: white; }

.bg-tertiary .text-contrast, .bg-tertiary .divider-dotted {
  color: #fff; }

/* Headings aand .text-contrast are defined in relation to a background */
.bg-white {
  background: #ffffff;
  color: black; }

.bg-white-complement {
  background: #f2f2f2;
  color: black; }

/* complement has a slightly different shade */
.bg-white .text-contrast, .bg-white .divider-dotted {
  color: #355d77; }

/* Headings aand .text-contrast are defined in relation to a background */
.btn-transparent {
  background: transparent;
  color: #355d77; }

.btn-transparent.active, .btn-transparent.active:hover {
  background: #355d77;
  color: white; }

/* -------------------------------------------------- Site Structure ------------------------------------------------ */
/* ------------- General -------------*/
html {
  background: #ffffff;
  color: black; }

/* @todo#20 Site background is hard white */
/* All links inherit from their parent - adding btn-tertiary is a hack here to avoid making nav buttons .btn class @todo#73 */
a:not(.text-contrast):not(.btn):not(.btn-tertiary):not(.btn-transparent):not(.btn-floating):not(.breadcrumb):not(.edit-link), input[type=submit].waves-button-input {
  color: inherit;
  background: transparent; }

/* ------------- Hovers -------------*/
/* Button Hovers - the complementary base color; text color is inherited from the .{base-color}-btn class */
.btn-primary:hover {
  background: #96c4c8; }

.btn-secondary:hover {
  background: #8d745b; }

.btn-tertiary:hover {
  background: #497590; }

/* Also .phone - maybe work in */
.btn-transparent:hover {
  background: #f7f7f7; }

/* Dropdown Hover States */
.dropdown-content:not(.dropdown-main-nav) li:hover,
.dropdown-content:not(.dropdown-main-nav) ul.active li,
.dropdown-content:not(.dropdown-main-nav) li.selected,
.dropdown-content:not(.dropdown-main-nav) li:hover a {
  background-color: #497590; }

/* Hover state on home page services grid */
figure.effect-sadie figcaption:before {
  background: -webkit-linear-gradient(top, rgba(53, 93, 119, 0) 0%, rgba(53, 93, 119, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(53, 93, 119, 0) 0%, rgba(53, 93, 119, 0.8) 75%); }

/* FA / Icons hover states */
#SubFooter .fa:hover {
  color: #e2dad2; }

/* ------------- Navigation -------------*/
/* Navbar is hard white by default, but override-able */
.bg-nav {
  background-color: #ffffff; }

/* Main nav, top level links, slight background on hover */
nav .main-nav .main-menu-item:hover,
nav .multi-location-nav:hover:not(.active) {
  background: #f7f7f7; }

/* Main navbar, dropdown, background and text */
nav ul.main-nav .dropdown-main-nav,
nav ul.main-nav .dropdown-main-nav .sub-menu-item {
  background: #355d77;
  color: white; }

/* Nav underlines on hover */
nav ul.main-nav > li > a:before,
nav .dropdown-main-nav li a:before,
nav ul.side-nav li > a:before {
  /* Side nav */
  background-color: #497590; }

/* Main navbar, small size (on page scroll) */
nav.small .top-nav-wrapper {
  background: #f7f7f7; }

/* Background of small navbar */
/* Side Nav */
nav .button-collapse {
  color: #569da2; }

nav .button-collapse:hover {
  color: #e2dad2; }

nav .side-nav li {
  border-color: #f7f7f7; }

/* --------------- Forms ---------------*/
.bg-form {
  background-color: #96c4c8; }

/* primary-complement by default, but overrideable */
.input-field label {
  color: rgba(158, 158, 158, 0.9); }

.input-field select, .location-selector select {
  color: #000000; }

/* Forms are hard white/ hard black text */
input label.active {
  color: #ffffff; }

/* Labels in user input fields being used disappear */
/* Forms are hard white/ hard black text */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: #ffffff; }

/* Text color for read-only inputs, indicating disabled use */
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #f7f7f7; }

/* Form accent border, shows on in-use input */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #e2dad2;
  box-shadow: 0 1px 0 0 #e2dad2; }

/* --------------- Footer ---------------*/
/* Sticky Footer */
.sticky-footer {
  background: #ffffff;
  /* hard white */
  -webkit-box-shadow: 0 -2px 18px -4px rgba(76, 76, 76, 0.37);
  /* border - hard grey shadow */
  -moz-box-shadow: 0 -2px 18px -4px rgba(76, 76, 76, 0.37);
  box-shadow: 0 -2px 18px -4px rgba(76, 76, 76, 0.37); }

/* Footer Contact bar */
.contact .box-wrap-first, .contact .box-wrap, .contact .box-wrap-last, .contact {
  border-color: #96c4c8; }

/* Contact bar thin vertical dividers */
/* --------------- Misc ---------------*/
/* Dividers */
.divider {
  background: transparent; }

.divider-solid {
  color: inherit; }

/* -------------------------------------------------- Individual Pages ------------------------------------------------ */
/* Home */
.reviews-callout .speech-bubble:after {
  border-top-color: #96c4c8; }

.index-testimonial .speech-bubble:after {
  border-top-color: #e2dad2; }

/* Testimonials call out bubble */
/* seems incorrect */
#home-slider.slider .indicator-item {
  background: #569da2; }

#home-slider.slider .indicator-item.active {
  background: #355d77; }

/* button color */
/* About */
.profile-wrap, .border-left {
  border-color: #f7f7f7; }

.profile-container .image-wrapper.border-thin-primary .image-border {
  border: 3px solid #569da2; }

.profile-container .image-wrapper.border-thin-secondary .image-border {
  border: 3px solid #e2dad2; }

.profile-container .image-wrapper.border-thin-tertiary .image-border {
  border: 3px solid #355d77; }

.profile-container .image-wrapper.border-box-shadow-primary .image-border {
  box-shadow: 5px 5px 5px rgba(86, 157, 162, 0.75); }

/* Contact */
.location-info-panel a.btn-location {
  border-color: #ffffff;
  color: #ffffff; }

/* hard white */
.location-info-panel a.btn-location:hover {
  background-color: #8d745b;
  box-shadow: none; }

/* Testimonials */
.testimonials-wrap:before {
  border-color: #ffffff transparent; }

/* Hard White */
#testimonials-page-slider.slick-slider li.slick-active button:before {
  color: #355d77; }

/* @todo this and home slider should be able to be combined*/
/* Multilocation Archive (All Locations) */
.multi-category .location-image {
  background: #f7f7f7; }

/* Fills in on a too-small image */
/* All Services */
.inner-block-services .service-wrapper img {
  border-color: #355d77; }

/* border around the service icons */
/* Service Pages */
.page-template-page .inner-intro.bg-white h1 span, .page-template-page .inner-intro.bg-white h1 a span, .page-template-empty .inner-intro.bg-white h1 span, .page-template-empty .inner-intro.bg-white h1 a span {
  color: #355d77; }
.page-template-page .inner-intro.bg-mute h1 span, .page-template-empty .inner-intro.bg-mute h1 span {
  color: #000000; }
.page-template-page .inner-intro.bg-tertiary h1 span, .page-template-empty .inner-intro.bg-tertiary h1 span {
  color: #fff; }
.page-template-page .inner-intro.bg-secondary h1 span, .page-template-empty .inner-intro.bg-secondary h1 span {
  color: #000; }
.page-template-page .inner-intro.bg-primary h1 span, .page-template-empty .inner-intro.bg-primary h1 span {
  color: #FFF; }

.breadcrumb {
  color: inherit;
  opacity: 0.65; }

.breadcrumb:last-child {
  color: #355d77; }

.breadcrumb:hover {
  color: #355d77; }

.breadcrumb:hover:before, .breadcrumb:before {
  color: black; }

/* -------------------------------------------------- Media Queries ------------------------------------------------ */
@media only screen and (max-width: 992px) {
  nav.large .nav-wrapper .top-nav-wrapper {
    background: #f7f7f7; }

  nav.large .nav-wrapper li.phone {
    color: #ffffff; }

  nav.large a.multi-phone i {
    border-right-color: #ffffff; } }
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .border-left {
    border-left-color: #f7f7f7; }

  .profile-wrap {
    border-right-color: #f7f7f7; } }
@media only screen and (max-width: 768px) {
  .team .profile-image img {
    border-color: #f7f7f7; } }
@media only screen and (max-width: 601px) {
  .profile-wrap {
    border-top-color: #f7f7f7; } }
/* -------------------------------------------------- Color Overrides ------------------------------------------------ */
/* These are helper classes which should only be used to override color scheme default relationships */
/* The default text colors, one for each type of background. */
.bg-primary-body-text {
  color: #FFF !important; }

.bg-secondary-body-text {
  color: black !important; }

.bg-tertiary-body-text {
  color: white !important; }

.bg-white-body-text {
  color: black !important; }

.bg-mute-body-text {
  color: black !important; }

/* A color of text corresponding to one of the base colors - This should only be used for headings, callouts, special links */
.text-default {
  color: inherit; }

/* This will inherit the element's default color, useful for headings ie, recent blogs */
.text-primary {
  color: #569da2 !important; }

.text-secondary {
  color: #e2dad2 !important; }

.text-tertiary {
  color: #355d77 !important; }

.text-white {
  color: #ffffff !important; }

.text-black {
  color: #000000 !important; }

.text-mute {
  color: #f7f7f7 !important; }

/* Wordpress considerations */
.edit-link {
  background: transparent;
  color: inherit; }

.edit-link a {
  color: inherit; }

/* Preserving but unused */
/* Special "All Services" first link in main dropdown: */
/* 
nav .dropdown-main-nav li:first-child a:before { background-color: inherit; }  Main nav dropdown, First item ("All Services") - don't underline on hover 
nav ul.main-nav .dropdown-content li:first-of-type { flex-basis: 100%; font-family: 'Raleway', sans-serif;font-weight:300;border-bottom:1px solid; margin-bottom:10px; }
nav ul.main-nav .dropdown-content li:first-of-type a { line-height: 110%; padding-top: 0; font-size: 13px; } /* @todo this font size appears visually correct, but can't possibly be right 
*/

/*# sourceMappingURL=dg-colors.css.map */
